.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f0ebec 0%, #8d8b8b 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  width: 100%;
  position: relative;
  display: flex;
}

.search-bar{
  width: 90%;
  
  border: 3px solid #701b1b;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #701b1b;
  
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid #701b1b;
  background: #701b1b;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-bar:focus{
  color: #701b1b;
}

.Banner{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header{
  font-size: large;
  font-family: Century Gothic;
  color: white;
  padding: 0;
  background-image:  linear-gradient(120deg, #701b1b 0%, #110103 100%);
  height: 10vh;
  display: flex;
}

.logo{
  margin-left: 20px;
  width: 50%;
}



.github{
  width: 20%;
  margin-left: 50%;
  margin-top: 20px;
  display: flex;
  
}

.git, .insta, .fb{
  margin-left: 5px;
  margin-right: 2px;
}

a {
  color:inherit;
  text-decoration: none;
 }

 .column {
  float: left;
  width: 33.33%;

}

/* Clear floats after the columns */
.row {
  padding-top: 20px;
  width: 100%;
  padding-left: 70px;
  content: "";
  display: table;
  clear: both;
}

img {
  max-width:100%;
  height:auto;
}

.text{
  color: #701b1b;
  font-size: large;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(120deg, #701b1b 0%, #200707 100%);
  color: white;
  text-align: center;
}